! ~/.Xresources 

#include ".xresources.d/color-wombat"
#include ".xresources.d/urxvt"

! For use with infinality
Xft.dpi:  96
Xft.rgba: rgb

Xft.antialias: 1
Xft.autohint:  0
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
